node_modules
target
dist
logs
public/*
!public/favicon.ico
!public/favicon-16x16.png
!public/favicon-32x32.png
!public/apple-touch-icon.png
!public/android-chrome-192x192.png
!public/android-chrome-512x512.png
!public/site.webmanifest
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log
